[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = PigKnows Documentation Project
[access "refs/*"]
	owner = group user/tianlinwang
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/tianlinwang
	label-Verified = -1..+1 group user/tianlinwang
	push = group user/tianlinwang
	read = group user/tianlinwang
	rebase = group user/tianlinwang
	removeReviewer = group user/tianlinwang
	submit = group user/tianlinwang
[access "refs/heads/*"]
	create = group user/tianlinwang
	push = +force group user/tianlinwang
	pushMerge = group user/tianlinwang
	read = group user/tianlinwang
[access "refs/tags/*"]
	push = group user/tianlinwang
	push = +force group user/tianlinwang
